Package: liquibase-secure
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Liquibase <support@liquibase.com>
Description: Liquibase Secure Debian Installer
Distribution: development
Provides: liquibase
Replaces: liquibase
