name: Cleanup Individual OS Artifacts

on:
  workflow_call:
    inputs:
      artifact_id:
        description: "The artifact ID to cleanup"
        required: true
        type: string
      artifact_version:
        description: "The artifact version to cleanup"
        required: true
        type: string
  repository_dispatch:
    types: [cleanup-individual-artifacts]

jobs:
  cleanup-individual-artifacts:
    name: Cleanup Individual OS Artifacts
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Delete ${{ matrix.os }} Artifacts
        uses: geekyeggo/delete-artifact@b54d29a59e55046d1f7fc8226cdda507e6b9cf62 # v5
        with:
          name: ${{ github.event_name == 'repository_dispatch' && github.event.client_payload.artifact_id || inputs.artifact_id }}-${{ matrix.os }}-${{ github.event_name == 'repository_dispatch' && github.event.client_payload.artifact_version || inputs.artifact_version }}-artifacts
          failOnError: false