name: Create Release

on:
  workflow_call:
    inputs:
      extraCommand:
        description: "Specify it if you want to run an extra command before attaching the artifact"
        required: false
        default: ""
        type: string
      artifactPath:
        description: "Specify the path to the artifacts that should be attached to the build. Useful for multi-module extensions."
        required: false
        default: "."
        type: string
      sonar:
        description: "Specify it if you want to run sonar scan"
        required: false
        default: true
        type: boolean

permissions:
  contents: write
  pull-requests: read
  issues: read
  statuses: read
  actions: read
  security-events: write
  id-token: write # Required by AWS OIDC authentication in sonar

jobs:
  sonar:
    if: ${{ inputs.sonar == true }}
    uses: liquibase/build-logic/.github/workflows/sonar-scan.yml@main
    secrets: inherit
    with:
      extraCommand: ${{ inputs.extraCommand }}

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Draft
        id: create-release
        uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
