name: Prepare release

on:
  workflow_call:
    inputs:
      extraCommand:
        description: "Specify it if you want to run an extra command before attaching the artifact"
        required: false
        default: ""
        type: string
      artifactPath:
        description: "Specify the path to the artifacts that should be attached to the build. Useful for multi-module extensions."
        required: false
        default: "."
        type: string
      javaBuildVersion:
        description: "Java version to use when building the extension"
        required: false
        default: "21"
        type: string

permissions:
  contents: write
  pull-requests: write
  packages: write
  id-token: write

jobs:
  prepare-release:
    name: Prepare release
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.LIQUIBASE_VAULT_OIDC_ROLE_ARN }}
          aws-region: us-east-1

      - name: Get secrets from vault
        id: vault-secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            ,/vault/liquibase
          parse-json-secrets: true

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: ${{ inputs.javaBuildVersion }}
          distribution: "temurin"
          cache: "maven"
          overwrite-settings: false

      # look for dependencies in maven
      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@9dc09b23833fa9aa7f27b63db287951856f3433d # v22
        with:
          repositories: |
            [
              {
                "id": "liquibase",
                "url": "https://maven.pkg.github.com/liquibase/liquibase",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              },
              {
                "id": "liquibase-pro",
                "url": "https://maven.pkg.github.com/liquibase/liquibase-pro",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              }
            ]
          servers: |
            [
              {
                "id": "liquibase-pro",
                "username": "liquibot",
                "password": "${{ env.LIQUIBOT_PAT_GPM_ACCESS }}"
              },
              {
                "id": "liquibase",
                "username": "liquibot",
                "password": "${{ env.LIQUIBOT_PAT_GPM_ACCESS }}"
              }
            ]

      - name: Run extra command
        working-directory: ${{ inputs.artifactPath }}
        if: inputs.extraCommand != ''
        env:
          EXTRA_COMMAND: ${{ inputs.extraCommand }}
        shell: bash
        run: |
          ${EXTRA_COMMAND}

      - name: Configure Git
        run: |
          git config --local user.email "64099989+liquibot@users.noreply.github.com"
          git config --local user.name "liquibot"

      - name: Prepare Maven Release
        working-directory: ${{ inputs.artifactPath }}
        run: |
          mvn -B build-helper:parse-version release:clean release:prepare \
          -Darguments="-Dmaven.javadoc.skip=true -Dmaven.test.skipTests=true -Dmaven.test.skip=true -Dmaven.deploy.skip=true" \
          -DdevelopmentVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}.0-SNAPSHOT -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}.\${parsedVersion.incrementalVersion} \
          -DcheckModificationExcludeList=pom.xml -DpushChanges=false -Dtag=temp

      - name: Get GitHub App token
        id: get-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ env.LIQUIBASE_GITHUB_APP_ID }}
          private-key: ${{ env.LIQUIBASE_GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          permission-contents: write
          permission-pull-requests: write
          permission-metadata: read

      - name: Create Pull Request for version bump
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.get-token.outputs.token }}
          commit-message: "chore: update version after release"
          title: "Version bump after release"
          body: |
            This PR updates the POM version after a release.

            Automated changes by GitHub Actions.
          branch: version-bump-after-release
          delete-branch: true

      - name: Save Release files
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: release-files
          path: |
            **/pom.xml.releaseBackup
            **/release.properties

  release-rollback:
    needs: prepare-release
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    uses: liquibase/build-logic/.github/workflows/extension-release-rollback.yml@main
    secrets: inherit
    with:
      extraCommand: ${{ inputs.extraCommand }}
      artifactPath: ${{ inputs.artifactPath }}
