name: Prepare release

on:
  workflow_call:

permissions:
  contents: write
  pull-requests: write
  
jobs:
  prepare-release:
    name: Prepare release
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'
          overwrite-settings: false

      - name: Configure Git
        run: |
          git config user.name "liquibot"
          git config user.email "liquibot@liquibase.org"

      - name: Prepare Maven Release
        run: |
          mvn -B build-helper:parse-version versions:set release:clean release:prepare \
          -Dusername=liquibot -Dpassword=$GITHUB_TOKEN \
          -Darguments="-Dmaven.javadoc.skip=true -Dmaven.test.skipTests=true -Dmaven.test.skip=true -Dmaven.deploy.skip=true" \
          -DdevelopmentVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}.0-SNAPSHOT -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}.\${parsedVersion.incrementalVersion} \
          -DcheckModificationExcludeList=pom.xml

      - name: Save Release files
        uses: actions/upload-artifact@v3
        with:
          name: release-files
          path: |
            **/pom.xml.*
            **/release.properties

  release-rollback:
    needs: prepare-release
    if: ${{ always() && contains(needs.*.result, 'failure') }}
    uses: liquibase/build-logic/.github/workflows/extension-release-rollback.yml@v0.4.4
    secrets: inherit
