name: Build and Test Extension

on:
  workflow_call:
    inputs:
      java:
        description: 'Java version to test'
        required: false
        default: '[8, 11, 17, 18]'
        type: string
      os:
        description: 'Operating system to test'
        required: false
        default: '["ubuntu-latest", "windows-latest"]'
        type: string
      nightly:
        description: 'Specifies nightly builds against liquibase master-SNAPSHOT'
        required: false
        default: false
        type: boolean

env:
  MAVEN_VERSION: '3.9.5'

jobs:
  build:
    name: Build & Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: 'temurin'
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Build and Package latest liquibase version
        if: ${{ inputs.nightly }} 
        run: mvn -B dependency:go-offline clean package -DskipTests=true -Dliquibase.version=master-SNAPSHOT

      - name: Build and Package
        if: ${{ !inputs.nightly }} 
        run: mvn -B dependency:go-offline clean package -DskipTests=true -Dliquibase.version=master-SNAPSHOT

      - name: Build and Package
        run: mvn -B dependency:go-offline clean package -DskipTests=true

      - name: Get Artifact ID
        id: get-artifact-id
        run: echo "::set-output name=artifact_id::$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)"

      - name: Save Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.get-artifact-id.outputs.artifact_id }}-artifacts
          path: |
            target/*

      - name: Save Event File
        uses: actions/upload-artifact@v3
        with:
          name: Event File
          path: ${{ github.event_path }}

    outputs:
      artifact_id: ${{ steps.get-artifact-id.outputs.artifact_id }}

  unit-test:
    strategy:
      fail-fast: false
      matrix:
        java: ${{fromJson(inputs.java || '[8, 11, 17, 18]')}}
        os: ${{fromJson(inputs.os || '["ubuntu-latest", "windows-latest"]')}}
    name: Test Java ${{ matrix.java }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: build
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}

      - uses: actions/download-artifact@v3
        with:
          name: ${{needs.build.outputs.artifact_id}}-artifacts
          path: ./target

      - name: Run Tests
        run: mvn -B jacoco:prepare-agent surefire:test

      - name: Archive Test Results - ${{ matrix.os }}
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: test-reports-jdk-${{ matrix.java }}-${{ matrix.os }}
          path: |
            **/target/surefire-reports
            **/target/jacoco.exec

  sonar-pr:
    needs: [ unit-test ]
    uses: liquibase/build-logic/.github/workflows/sonar-pull-request.yml@v0.5.0
    secrets: inherit
