name: OWASP Scanner

on:
  workflow_call:
    inputs:
      repository:
        description: "Repository to scan"
        required: false
        type: string
        default: "liquibase"
      branch:
        description: "Branch to scan"
        required: true
        type: string
  workflow_dispatch:
    inputs:
      repository:
        description: "Repository to scan"
        required: false
        type: string
        default: "liquibase"
      branch:
        description: "Branch to scan"
        required: true
        type: string

permissions:
  contents: read
  packages: read
  id-token: write

jobs:
  scan:
    runs-on: ubuntu-22.04
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.LIQUIBASE_VAULT_OIDC_ROLE_ARN }}
          aws-region: us-east-1

      - name: Get secrets from vault
        id: vault-secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            ,/vault/liquibase
          parse-json-secrets: true

      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: liquibase/${{ inputs.repository }}
          ref: ${{ inputs.branch }}
          path: ${{ inputs.repository }}

      - name: Set up Java for publishing to GitHub Repository
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: maven-settings-xml-action
        uses: whelk-io/maven-settings-xml-action@9dc09b23833fa9aa7f27b63db287951856f3433d # v22
        with:
          repositories: |
            [
              {
                "id": "liquibase",
                "url": "https://maven.pkg.github.com/liquibase/liquibase",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              },
              {
                "id": "liquibase-pro",
                "url": "https://maven.pkg.github.com/liquibase/liquibase-pro",
                "releases": {
                  "enabled": "true"
                },
                "snapshots": {
                  "enabled": "true",
                  "updatePolicy": "always"
                }
              }
            ]
          servers: |
            [
              {
                "id": "liquibase-pro",
                "username": "liquibot",
                "password": "${{ env.LIQUIBOT_PAT_GPM_ACCESS }}"
              },
              {
                "id": "liquibase",
                "username": "liquibot",
                "password": "${{ env.LIQUIBOT_PAT_GPM_ACCESS }}"
              }
            ]

      - name: Build project
        run: |
          cd ${{ inputs.repository }}
          mvn clean install -DskipTests

      - name: Run OWASP Dependency Check
        id: run_owasp
        run: |
          cd ${{ inputs.repository }}
          mvn org.owasp:dependency-check-maven:aggregate -DnvdApiKey=${{ env.NVD_API_KEY }} -DfailOnError=true

      - name: Upload OWASP Dependency-Check results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: owasp-dependency-check
          path: ${{ inputs.repository }}/target/dependency-check-report.html
