name: Sonar Scan for jest

on:
  workflow_call:

permissions:
  contents: read

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '18.5'

      - name: Set up npm registry and authentication
        run: |
          npm config set @liquibase:registry https://npm.pkg.github.com
          npm config set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          npm cache clean --force
          npm install

      - name: Run Jest with coverage
        run: npm test -- --coverage